body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Roboto Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
  
}

*{
  box-sizing: border-box;
}